%footer {
  display: flex;
  height: 100%;
  align-items: center;
}

.footer {
  background-color: #333;
  padding: 1rem 0;

  &__nav {
    @extend %footer;
  }

  &__social {
    @extend %footer;
    justify-content: flex-end;
  }
}
