.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width: $bp-md) {
    justify-content: flex-start;
    align-items: flex-start;
  }

  &__item{
    @media only screen and (max-width: $bp-md) {
      display: flex;
      justify-content: flex-end;
    
      margin-bottom: 0.5rem;
    }

    &:not(:last-child) {
      padding-right: 2.5rem;

      @media only screen and (max-width: $bp-md) {
        padding: 0;
        margin-bottom: 0.825rem;
      }
    }
  }
  
  &__mobile {
    display: none;

    @media only screen and (max-width: $bp-md) {
      display: block;
    }
  }

  &__checkbox {
    @media only screen and (max-width: $bp-md) {
      display: none;
    }

    &:checked + .navigation__button {
      .navigation__icon {
        @media only screen and (max-width: $bp-md) {
          background-color: transparent;
        }

        &::before {
          @media only screen and (max-width: $bp-md) {
            top: 0;
            transform: rotate(135deg);
          }
        }

        &::after {
          @media only screen and (max-width: $bp-md) {
            top: 0;
            transform: rotate(-135deg);
          }
        }
      }
    }
  }

  &__button {
    @media only screen and (max-width: $bp-md) {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 2.8125rem;
      width: 2.8125rem;
      margin-right: 2rem;
      cursor: pointer;
    }

    &:hover {
      .navigation__icon::before {
        @media only screen and (max-width: $bp-md) {
          top: -0.6rem;
        }
      }

      .navigation__icon::after {
        @media only screen and (max-width: $bp-md) {
          top: 0.6rem;
        }
      }
    }
  }

  &__icon {
    @media only screen and (max-width: $bp-md) {
      @extend %hamburger-line;
      position: relative;
    }

    &::after {
      @media only screen and (max-width: $bp-md) {
        @extend %hamburger-line;
        %blank-pseudo-element;
        top: 0.45rem;
      }
    }

    &::before {
      @media only screen and (max-width: $bp-md) {
        @extend %hamburger-line;
        %blank-pseudo-element;
        top: -0.45rem;
      }
    }
  }

  &__list-container {
    @media only screen and (max-width: $bp-md) {
      display: none;
      flex: 1;
    }
  }

  &__list {
    list-style: none;
    padding: 0;
  
    display: flex;
    justify-content: flex-end;

    @media only screen and (max-width: $bp-md) {
      margin: 0;
      margin-right: 2rem;
      flex-direction: column;
    }
  }

  &__link {
    font-size: 1.375rem;
    font-weight: 300;
    text-decoration: none;
    padding-bottom: .3rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
  
    transition: all .3s ease;

    &:link,
    &:visited {
      color: #eee;
    }

    &:hover {
      color: #fff;
      border-bottom-color: #fff;
    }
  }
}

.header--sticky{ 
  
  .nav__link {
    font-size: 1rem;
    font-weight: 400;

    @media only screen and (max-width: $bp-md) {
      font-size: 1.25rem;
    }

    &.active {
      color: #ffbe2f;

      &:hover {
        border-bottom-color: #ffbe2f;
      }
    }
  }

  .branding__logo {
    width: 2rem;
  }
}

.branding {
  @media only screen and (max-width: $bp-md) {
    height: 2.8125rem;
    margin-right: 2rem;
    display: flex;
    align-items: center;
  }

  &branding__logo {
    width: 2.75rem;
  }
}