html {
  @media only screen and (max-width: $bp-md) {
    font-size: 93.75%;
  }

  @media only screen and (max-width: $bp-sm) {
    font-size: 87.5%;
  }
}

body {
  font-family: "Lato", Arial, Helvetica, sans-serif;
}

%heading {
  font-weight: 300;
  display: inline-block;
  border-bottom: 1px solid black;
}

.heading__primary {
  @extend %heading;
  color: #fff;
  font-size: 5rem;
  text-transform: lowercase;

  padding: 0 1.25rem 1rem;
  margin-bottom: 1rem;
  border-color: #fff;

  @media only screen and (max-width: $bp-sm) {
    font-size: 4rem;
  }
}

.heading__secondary {
  @extend %heading;
  font-size: 2.5rem;
  text-align: center;
  text-transform: uppercase;

  padding: 0 1rem 0.7rem;
  margin-bottom: 4rem;

  &--light {
    color: #fff;
    border-color: #fff;
  }
}

.heading__terciary {
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;

  margin-bottom: 3.5rem;
}

.hero__description {
  color: #fff;
  font-size: 2.8rem;
  font-weight: 300;
  text-transform: lowercase;

  @media only screen and (max-width: $bp-sm) {
    font-size: 2rem;
  }
}