%nav {
  display: flex;
  height: 100%;
  align-items: center;
}

.nav {
  @extend %nav;

  @media only screen and (max-width: $bp-md) {
    justify-content: center;
  }

  .__list-item:not(:last-child) {
    margin-right: 2rem;
  }

  &__social {
    @extend %nav;
    justify-content: flex-end;

    @media only screen and (max-width: $bp-md) {
      justify-content: center;
    }

    .nav__list-item:not(:first-child) {
      margin-left: 2rem;
    }
  }

  &__list {
    list-style: none;
    padding: 0;
  
    display: flex;

    .nav__list-item:not(:last-child) {
      margin-right: 2rem;
    }
  }

  &__link {
    font-size: 1rem;
    color: #aaa;
    text-decoration: none;
  
    transition: all 0.3s ease;
  }
  
  &__link:hover,
  &__link:active {
    color: #eee;
  }
  
  &__link:hover .icon--instagram,
  &__link:active .icon--instagram {
    color: #c32aa3;
  }
  
  &__link:hover .icon--linkedin,
  &__link:active .icon--linkedin {
    color: #007bb5;
  }
  
  &__link:hover .icon--mail,
  &__link:active .icon--mail {
    color: #db4437;
  }
  
  &__link:hover .icon--github,
  &__link:active .icon--github {
    color: #fff;
  }
  
  &__icon {
    font-size: 1.5625rem;
    transition: color 0.3s ease;
  }
  
}




